{% extends "frontend/master.html" %}
{% load i18n cdr_extras common_tags %}

def get_first(self):
    return self.c_client_public_ip.partition(':')[0]

{% block content %}

{% for element in row %}
    <b>General</b><br>
    From number : {{ element.caller_id_number }}<br>
    To number : {{ element.destination_number }}<br>
    Call-ID : {{ element.call_id }}<br>
    Start : {{ element.start_uepoch|date:"r" }}<br>
    End : {{ element.end_uepoch|date:"r" }}<br>
    {% if element.answer_uepoch %}
        Answer : {{ element.answer_uepoch|date:"r" }}<br>
    {% else %}
        No Answer<br>
    {% endif %}
    {% if element.duration %}
        Duration : {{ element.duration }} Sec<br>
    {% endif %}
    {% if element.billsec %}
        BillSec : {{ element.billsec }} Sec<br>
    {% endif %}

    <p/>
    <p/>
    <b>Client Statistics</b><br>
    Maximum roundtrip delay : {{ element.client_max_rtt }}<br>
    Remote end packet loss : {{ element.client_max_tx_packet_loss }}<br>
    Local end percent of lost packets : {{ element.client_rx_fraction_loss }}<br>
    Local end packets recieved: {{ element.client_rx_packets }}<br>
    Local end packets lost : {{ element.client_rx_packets_lost }}<br>
    Local end packets sent: {{ element.client_tx_packets }}<br>
   
    <p/>
    <p/>
    <b>Midee Statistics</b><br>
    Username : {{ element.midee_statistics.username }}<br>
    Uptime : {{ element.midee_statistics.uptime }}<br>
    Footee_id : {{ element.midee_statistics.footee_id }}<br>
    Counter_connections : {{ element.midee_statistics.counter_connections }}<br>
 
    <p/>
    {% for connection in element.midee_statistics.connections %}
        {% for item in connection %}
            {% if item == "c_type" %}
                {% if connection.c_type == "internal" %}
                    Direction : Midee to Client<br>
                {% endif %}
                {% if connection.c_type == "external" %}
                    Direction : Midee to Remote/Sip Trunk<br>
                {% endif %}
            {% endif %}
            {% if item == "c_transport" %}
                Transport : {{ connection.c_transport }}<br>
            {% endif %}
            {% if item == "c_dest" %}
                Remote/SIP Trunk IP:PORT for RTP : {{ connection.c_dest }}<br>
            {% endif %}
            {% if item == "c_dest_rtcp" %}
                Remote/SIP Trunk IP:PORT for RTCP : {{ connection.c_dest_rtcp }}<br>
            {% endif %}
            {% if item == "c_client_public_ip" %}
                Client public IP : 
				<A HREF="http://www.geoiptool.com/en/?IP={{ connection.get_first }}" target="_blank">{{ connection.c_client_public_ip }}</a>
				<A HREF="http://api.hostip.info/get_html.php?ip={{ connection.c_client_public_ip }}" target="_blank"> Lookup IP origin</a><br>
            {% endif %}
            {% if item == "c_tx_packets" %}
                Packets sent : {{ connection.c_tx_packets }}<br>
            {% endif %}
            {% if item == "c_tx_rtcp_packets" %}
                RTCP reports sent : {{ connection.c_tx_rtcp_packets }}<br>
            {% endif %}
            {% if item == "c_tx_lost_packets" %}
                Lost packets : {{ connection.c_tx_lost_packets }}<br>
            {% endif %}
            {% if item == "c_tx_loss" %}
                Percent of lost packets : {{ connection.c_tx_loss }}<br>
            {% endif %}
            {% if item == "c_tx_ordered_packets" %}
                Ordered packets : {{ connection.c_tx_ordered_packets }}<br>
            {% endif %}
            {% if item == "c_tx_expected_packets" %}
                Expected packets : {{ connection.c_tx_expected_packets }}<br>
            {% endif %}
            {% if item == "c_remote_ip" %}
                Remote/SIP Trunk IP:PORT : {{ connection.c_remote_ip }}<br>
            {% endif %}
        {% endfor %}
    <p/>
    {% endfor %}
   
{% endfor %}

{% endblock %}
