{% load i18n cdr_extras common_tags %}

{% block content %}

{% for element in row %}
    <font size="4"><b>General</b><br></font>
    <text title="Caller ID for caller">From number :</text> {{ element.caller_id_number }}<br>
    <text title="Called Number">To number :</text> {{ element.destination_number }}<br>
    <text title="Internal ID">Call-ID :</text> {{ element.call_id }}<br>
    <text title="Start of the call">Start :</text> {{ element.start_uepoch|date:"r" }}<br>
    <text title="End of the call">End :</text> {{ element.end_uepoch|date:"r" }}<br>
    {% if element.answer_uepoch %}
        <text title="When the B party picked up the call (answered)">Answer :</text> {{ element.answer_uepoch|date:"r" }}<br>
    {% else %}
        <text title="The call was not picked up">No Answer</text><br>
    {% endif %}
    {% if element.duration %}
        <text title="Total duration of the call">Duration :</text> {{ element.duration }} Sec<br>
    {% endif %}
    {% if element.billsec %}
        <text title="Total duration of the connected call">Talk time :</text> {{ element.billsec }} Sec<br>
    {% endif %}
    {% if element.bill_amount %}
        <text title="The billed amount for the call. Only applicable if we sell per minute, otherwise ignore">Billed Amount :</text> {{ element.bill_amount }}<br>
    {% endif %}
    {% if element.bill_sku %}
        <text title="Type of subscription used">Bill Method :</text> {{ element.bill_sku }}<br>
    {% endif %}
    {% if element.caller_id_number_hash %}
        <text title="Internal ID for KissMetric data">Kiss's Customer ID :</text> {{ element.caller_id_number_hash }}<br>
    {% endif %}

    {% if element.client_max_rtt > -1 %}
        <p><br></p>
        <font size="4"><b>IP End-to-end Statistics</b><br></font>
        <text title="Maximum roundtrip delay, measured from the Client to the IP end-point that usually is a SIP gateway or another IP client. The delay from the gateway to the GSM mobile is not considered">
        Max roundtrip delay :</text> {{ element.client_max_rtt }} ms<br>
        <text title="Average roundtrip delay, measured from the Client to the IP end-point that usually is a SIP gateway or another IP client. The delay from the gateway to the GSM mobile is not considered. Below 250 ms is good and above 400/500 ms Is considered as poor">
        Average roundtrip delay :</text> {{ element.client_avg_rtt }} ms<br>
        <text title="Min roundtrip delay, measured from the Client to the IP end-point that usually is a SIP gateway or another IP client. The delay from the gateway to the GSM mobile is not considered">
        Minimum roundtrip delay :</text> {{ element.client_min_rtt }} ms<br>
    {% else %}
        <p><br></p>
        No IP End-to-end Statistics received.
    {% endif %}


    {% if element.client_max_tx_packet_loss > -1 %}
        <p/>
        <b title="Measured quality of sent packets to the far-end. The far-end can be SIP gateway or an IP client.">Client to Far End stats</b><br>
        Far End max packet loss : {{ element.client_max_tx_packet_loss }} %<br>
        Far End average packet loss : {{ element.client_avg_tx_packet_loss }} %<br>
        Far End min packet loss : {{ element.client_min_tx_packet_loss }} %<br>
    {% endif %}

    {% if element.client_rx_packets  > -1 %}
        <p/>
        <b title="Measured the quality at the client (near-end) IP side Measured quality of sent packets to the client (near-end) IP side">Far End to Client stats</b><br>
        Client average of packet loss : {{ element.client_rx_fraction_loss|floatformat:"0" }} %<br>
        Client packets recieved : {{ element.client_rx_packets }}<br>
        Client packets lost : {{ element.client_rx_packets_lost }}<br>
        Client packets sent : {{ element.client_tx_packets }}<br>
    {% endif %}

    {% if element.client_hangup %}
        <text title="Based on SIP reponse code (http://en.wikipedia.org/wiki/List_of_SIP_response_codes). 200 is a successful call hangup/completion">
        Client hangup reason (SIP) :</text> {{ element.client_hangup }}<br>
    {% endif %}

    {% if element.client_call_quality.q_avg %}
        <p/>
        <p/>
        <b title="The Q value is a combined value that represents the perceived quality to the end user. The value is defined based on the up- and downlink packet loss, round-trip latency (delay) and jitter (defined as a variation in the delay of received packets)">
        Q Values (end user perceived quality)</b><br>

        <text title="Q value above 60 is considered as good/fair and values below 30 is considered as poor">Average Q value:</text>
        {{ element.client_call_quality.q_avg }}<br>
        
        </p>
        <b>Q Distribution:</b><br>
        <div id="q_value_graph" style="width:500px;height:150px;"></div><br>

        <a onclick ="javascript:ShowHide('hidden_q')" href="javascript:;" >Show/Hide data</a>
        <div id=hidden_q style="DISPLAY: none">
            <br><table border="2">
            <tr>
                <th><text title="Number of Q reports in the range : 0-10">0-10</text></th>
                <th><text title="Number of Q reports in the range : 10-20">10-20</text></th>
                <th><text title="Number of Q reports in the range : 20-30">20-30</text></th>
                <th><text title="Number of Q reports in the range : 30-40">30-40</text></th>
                <th><text title="Number of Q reports in the range : 40-50">40-50</text></th>
                <th><text title="Number of Q reports in the range : 50-60">50-60</text></th>
                <th><text title="Number of Q reports in the range : 60-70">60-70</text></th>
                <th><text title="Number of Q reports in the range : 70-80">70-80</text></th>
                <th><text title="Number of Q reports in the range : 80-90">80-90</text></th>
                <th><text title="Number of Q reports in the range : 90-100">90-100</text></th>
            </tr>
            
            <td>{{ element.client_call_quality.q_10 }}</td>
            <td>{{ element.client_call_quality.q_20 }}</td>
            <td>{{ element.client_call_quality.q_30 }}</td>
            <td>{{ element.client_call_quality.q_40 }}</td>
            <td>{{ element.client_call_quality.q_50 }}</td>
            <td>{{ element.client_call_quality.q_60 }}</td>
            <td>{{ element.client_call_quality.q_70 }}</td>
            <td>{{ element.client_call_quality.q_80 }}</td>
            <td>{{ element.client_call_quality.q_90 }}</td>
            <td>{{ element.client_call_quality.q_100 }}</td>
        </table>
        </div>
        <p/>
    {% endif %}

    <p><br></p>
    {% if element.midee_statistics.counter_connections  %}
        <font size="4"><b title="The Media Relay is the media server that connects to the client and the far-end">Media Relay (Midee Statistics)</b><br></font>
        Username : {{ element.midee_statistics.username }}<br>
        Uptime : {{ element.midee_statistics.uptime }}<br>
        Footee_id : {{ element.midee_statistics.footee_id }}<br>
        Counter_connections : {{ element.midee_statistics.counter_connections }}<br>
    {% else %}
        No Media Relay (Midee Statistics) received.
    {% endif %}

    <p/>

    {% for connection in element.midee_statistics.connections %}

        {% if connection.c_client_rtt_min %}
            Client to Media Relay Roundtrip min : {{ connection.c_client_rtt_min }} ms<br>
        {% endif %}
        {% if connection.c_client_rtt_avg %}
            Client to Media Relay Roundtrip average : {{ connection.c_client_rtt_avg }} ms<br>
        {% endif %}
        {% if connection.c_client_rtt_max %}
            Client to Media Relay Roundtrip Max : {{ connection.c_client_rtt_max }} ms<br>
        {% endif %}

        {% for item in connection %}
            {% if item == "c_type" %}
                {% if connection.c_type == "internal" %}
                    <p><br></p>
                    <b title= "Stats from the link  between the far-end (such as the SIP gateway) and the  Media Relay Server">
                    Direction : Far End to Media Relay</b><br>
                {% endif %}
                {% if connection.c_type == "external" %}
                    {% if connection.c_remote_ip|last|divisibleby:2 %}
                        <b title="Stats from the link between the client and Media Relay Server">
                        Direction : Client to Media Relay</b><br>
                    {% else %}
                        <b>Direction : RTCP reports from Media Relay to Far End</b><br>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if item == "c_transport" %}
                <text title="If transport from the client is based on TCP it is most likely that we have to traverse to more or less complicated firewalls and NAT. If TCP is used instead of UDP this also will increase the roundtrip delay/latency and packet loss.">
                Transport :</text> {{ connection.c_transport }}<br>
            {% endif %}
            {% if item == "c_dest" %}
                Remote/SIP Trunk IP:PORT for RTP : {{ connection.c_dest }}<br>
            {% endif %}
            {% if item == "c_dest_rtcp" %}
                Remote/SIP Trunk IP:PORT for RTCP : {{ connection.c_dest_rtcp }}<br>
            {% endif %}
            {% if item == "c_client_public_ip" %}
                Client public IP : 
                <A HREF="http://www.geoiptool.com/en/?IP={{ connection.c_client_public_ip|slice:":-6"}}" target="_blank" title="Click link to lookup geo location of caller IP">{{ connection.c_client_public_ip }}</a><br>
            {% endif %}
            {% if item == "c_tx_packets" %}
                Packets sent : {{ connection.c_tx_packets }}<br>
            {% endif %}
            {% if item == "c_tx_rtcp_packets" %}
                <text title="The RTCP reports are usually sent every 5th second to the end-point and the reports contains the statics from the call">
                RTCP reports sent :</text> {{ connection.c_tx_rtcp_packets }}<br>
            {% endif %}
            {% if item == "c_tx_lost_packets" %}
                Lost packets : {{ connection.c_tx_lost_packets }}<br>
            {% endif %}
            {% if item == "c_tx_loss" %}
                Packet loss : {{ connection.c_tx_loss|floatformat:"0" }} %<br>
            {% endif %}
            {% if item == "c_tx_ordered_packets" %}
                <text title="States if packets are received in a different order than they were sent (based on packet sequence number)">
                Out-of-sequence packets :</text> {{ connection.c_tx_packets|subtract:connection.c_tx_ordered_packets }}<br>
            {% endif %}
            {% if item == "c_tx_expected_packets" %}
                Expected packets : {{ connection.c_tx_expected_packets }}<br>
            {% endif %}
            {% if item == "c_remote_ip" %}
                Remote/SIP Trunk IP:PORT : {{ connection.c_remote_ip }}<br>
            {% endif %}
        {% endfor %}
    <p/>
    {% endfor %}

{% endfor %}

<script type="text/javascript">
$(function () {

    var data = [
        {% for element in row %}
            {% if element.client_call_quality.q_100 %}
                {
                    data: [               
                        [100, {{element.client_call_quality.q_100}}],
                        [90, {{element.client_call_quality.q_90}}],
                        [80, {{element.client_call_quality.q_80}}],
                        [70, {{element.client_call_quality.q_70}}],
                        [60, {{element.client_call_quality.q_60}}],
                        [50, {{element.client_call_quality.q_50}}],
                        [40, {{element.client_call_quality.q_40}}],
                        [30, {{element.client_call_quality.q_30}}],
                        [20, {{element.client_call_quality.q_20}}],
                        [10, {{element.client_call_quality.q_10}}],
                        [0, 0]
                    ]
                },
            {% endif %}
        {% endfor %}
    ];

    var options = {
        series: {
                lines: { show: true, steps: true, fill: true }
        }
    };
    
    $.plot($("#q_value_graph"), data, options);
});

function ShowHide(divId)
{
    if(document.getElementById(divId).style.display == 'none')
    {
        document.getElementById(divId).style.display='block';
    }
    else
    {
        document.getElementById(divId).style.display = 'none';
    }
}


</script>

{% endblock %}
